source_up

# Paths to the installed project
export PATH="/home/tarcila/Code/ANARI/hdanari/mdl-ov-cases/_out/bin${PATH:+:${PATH}}"
export LD_LIBRARY_PATH="/home/tarcila/Code/ANARI/hdanari/mdl-ov-cases/_out/lib${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}"
export DYLD_LIBRARY_PATH="/home/tarcila/Code/ANARI/hdanari/mdl-ov-cases/_out/lib${DYLD_LIBRARY_PATH:+:${DYLD_LIBRARY_PATH}}"

# Expose our USD plugins
export LD_LIBRARY_PATH="/home/tarcila/Code/ANARI/hdanari/mdl-ov-cases/_out/lib/usd/plugins${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}"
export PXR_PLUGINPATH_NAME="/home/tarcila/Code/ANARI/hdanari/mdl-ov-cases/_out/lib/usd/plugins${PXR_PLUGINPATH_NAME:+:${PXR_PLUGINPATH_NAME}}"

# Local environment overrides
dotenv_if_exists
